@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:5em;" class="row">
    <center><h2>This is a simple web app to view, export, and visualize the data collected by pothole detector.</h2></center>
    <br />
    <center>
        <h4>
            The app is written in .NET Core with a bunch of JavaScript libraries such as heatmap.js for visualizing and DataTables for
            viewing and exporting the data.
        </h4>
    </center>
    <br />
    <center>
        <p>In order to see the collected data visit <a href="Home/Viewdata">View Data</a> page. For seeing the data on heatmap visit <a href="Home/Heatmap">Visualize</a>.</p>
    </center>
    <center>
        <div>
            <h3>Tech stack</h3>
            <br />

            <div style="display:inline-flex">
            <h3>heatmap.js <br /> & its leaflet plugin </h3> 
            <img class="tech" src="https://leafletjs.com/docs/images/logo.png" height="50" />
            <img class="tech" src="https://www.underconsideration.com/brandnew/archives/mapbox_logo.png" height="50" />
            <img class="tech" alt="DataTables" src="https://yaruzou.net/uploads/eye-catch-datatables.png" height="80" />

            </div>

        </div>
    </center>
</div>
